<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Student Management System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.trilo.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultSearchServlet</display-name>
    <servlet-name>ResultSearchServlet</servlet-name>
    <servlet-class>com.trilo.servlet.ResultSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultSearchServlet</servlet-name>
    <url-pattern>/ResultSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>com.trilo.servlet.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDetailsSaveServlet</display-name>
    <servlet-name>StudentDetailsSaveServlet</servlet-name>
    <servlet-class>com.trilo.servlet.StudentDetailsSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDetailsSaveServlet</servlet-name>
    <url-pattern>/StudentDetailsSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentResultStoreServlet</display-name>
    <servlet-name>StudentResultStoreServlet</servlet-name>
    <servlet-class>com.trilo.servlet.StudentResultStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentResultStoreServlet</servlet-name>
    <url-pattern>/StudentResultStoreServlet</url-pattern>
  </servlet-mapping>
</web-app>